.modal-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 0 0 2rem 0;
  border: none;
  width: 100%;
  max-width: 60rem;
  border-radius: 2rem;
}

.close {
  color: #7B756B;
  font-size: 4rem;
  font-weight: 400;
  position: absolute;
  right: 2.5rem;
  top: 1.5rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.modal-title {
  font-size: 2.25rem;
  font-weight: 900;
}

ul {
  list-style: none;
  padding: 0;

  li {
    height: 7rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 2rem;
    border-bottom: 1px solid #E3E3E3;

    &:last-child {
      border: none;
    }

    img {
      width: 5rem;
      height: 5rem;
      margin-right: 2rem;
    }

    a {
      color: var(--neutral-color);
      font-size: 2rem;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
