:root {
  --step: 8px;
  --logo-size: 10rem;
  --base-color: #000000;
  --second-color: #666666;
  --primary-color: #9E9E9E;
  --neutral-color: #292621;
  --accent-color: #D3F500;
  --modal-background: #302D27A6;
}
